@import "../app";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorSecondary;
  padding: 20px 0;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin-right: 25px;
}

.logo {
  font: $fontHeader;
  margin-left: 25px;
  text-decoration: none;
  color: #000;
}

.nav-link {
  @include transition;
  @include border-black;
  @include border-radius;

  font: $fontLarge;
  text-decoration: none;
  color: #000;
  padding: 4px 8px;
}

.active {
  background-color: #fff;
}

.logout {
  &:hover {
    background-color: $colorCtaHover;
    color: #fff;
  }
}

@media only screen and (max-width: 500px) {
  ul {
    flex-direction: column;
  }
}
